interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/django/django/pulls/18763
  response:
    body:
      string: '{"url":"https://api.github.com/repos/django/django/pulls/18763","id":2160416001,"node_id":"PR_kwDOAD-Lgs6AxVUB","html_url":"https://github.com/django/django/pull/18763","diff_url":"https://github.com/django/django/pull/18763.diff","patch_url":"https://github.com/django/django/pull/18763.patch","issue_url":"https://api.github.com/repos/django/django/issues/18763","number":18763,"state":"closed","locked":false,"title":"Updated
        instruction sentence on how to claim a ticket.","user":{"login":"mariahynes","id":12418697,"node_id":"MDQ6VXNlcjEyNDE4Njk3","avatar_url":"https://avatars.githubusercontent.com/u/12418697?v=4","gravatar_id":"","url":"https://api.github.com/users/mariahynes","html_url":"https://github.com/mariahynes","followers_url":"https://api.github.com/users/mariahynes/followers","following_url":"https://api.github.com/users/mariahynes/following{/other_user}","gists_url":"https://api.github.com/users/mariahynes/gists{/gist_id}","starred_url":"https://api.github.com/users/mariahynes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mariahynes/subscriptions","organizations_url":"https://api.github.com/users/mariahynes/orgs","repos_url":"https://api.github.com/users/mariahynes/repos","events_url":"https://api.github.com/users/mariahynes/events{/privacy}","received_events_url":"https://api.github.com/users/mariahynes/received_events","type":"User","user_view_type":"public","site_admin":false},"body":"####
        Trac ticket number\r\nN/A\r\n\r\n#### Branch description\r\nThe page `contributing/writing-code/submitting-patches.html`
        has been updated with this change. The issue was that the instructions on
        how to assign a ticket to yourself was out of date and confusing for a first
        time user of TRAC. This PR updates the sentence to accurately explain where
        to click on the page to assign a ticket.\r\n\r\nThe original instruction which
        is ou[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/django/django/pulls/18763/files
  response:
    body:
      string: '[{"sha":"c3d0e1745f29b2f54371a7bc2bf50202cdee70da","filename":"docs/internals/contributing/writing-code/submitting-patches.txt","status":"modified","additions":7,"deletions":3,"changes":10,"blob_url":"https://github.com/django/django/blob/13707feb5bd858c0c38f7630ec3070ae558aefcc/docs%2Finternals%2Fcontributing%2Fwriting-code%2Fsubmitting-patches.txt","raw_url":"https://github.com/django/django/raw/13707feb5bd858c0c38f7630ec3070ae558aefcc/docs%2Finternals%2Fcontributing%2Fwriting-code%2Fsubmitting-patches.txt","contents_url":"https://api.github.com/repos/django/django/contents/docs%2Finternals%2Fcontributing%2Fwriting-code%2Fsubmitting-patches.txt?ref=13707feb5bd858c0c38f7630ec3070ae558aefcc","patch":"@@
        -47,10 +47,14 @@ and time availability), claim it by following these steps:\n   any
        activity, it''s probably safe to reassign it to yourself.\n \n * Log into
        your account, if you haven''t already, by clicking \"GitHub Login\"\n-  or
        \"DjangoProject Login\" in the upper left of the ticket page.\n+  or \"DjangoProject
        Login\" in the upper left of the ticket page. Once logged\n+  in, you can
        then click the \"Modify Ticket\" button near the bottom of the\n+  page.\n
        \n-* Claim the ticket by clicking the \"assign to myself\" radio button under\n-  \"Action\"
        near the bottom of the page, then click \"Submit changes.\"\n+* Claim the
        ticket by clicking the \"assign to\" radio button in the \"Action\"\n+  section.
        Your username will be filled in the text box by default.\n+\n+* Finally click
        the \"Submit changes\" button at the bottom to save.\n \n .. note::\n     The
        Django software foundation requests that anyone contributing more than"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d8496f77a30976d27edfa29feafe4aed394f424750c35b70dfdebcf1c8d1c3fc"
      Last-Modified:
      - Thu, 04 Sep 2025 14:38:59 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '55'
      X-RateLimit-Reset:
      - '1766692499'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '5'
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
