interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?q=repo%3Adjango%2Fdjango+is%3Apr+is%3Amerged+merged%3A%3E%3D2024-12-26&sort=updated&order=desc&per_page=100&page=1
  response:
    body:
      string: "{\"total_count\":790,\"incomplete_results\":false,\"items\":[{\"url\":\"https://api.github.com/repos/django/django/issues/20441\",\"repository_url\":\"https://api.github.com/repos/django/django\",\"labels_url\":\"https://api.github.com/repos/django/django/issues/20441/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/django/django/issues/20441/comments\",\"events_url\":\"https://api.github.com/repos/django/django/issues/20441/events\",\"html_url\":\"https://github.com/django/django/pull/20441\",\"id\":3751719024,\"node_id\":\"PR_kwDOAD-Lgs66CJLz\",\"number\":20441,\"title\":\"Fixed
        #30515 -- Added documentation for resolve_url() shortcut.\",\"user\":{\"login\":\"duane9\",\"id\":178243,\"node_id\":\"MDQ6VXNlcjE3ODI0Mw==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/178243?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/duane9\",\"html_url\":\"https://github.com/duane9\",\"followers_url\":\"https://api.github.com/users/duane9/followers\",\"following_url\":\"https://api.github.com/users/duane9/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/duane9/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/duane9/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/duane9/subscriptions\",\"organizations_url\":\"https://api.github.com/users/duane9/orgs\",\"repos_url\":\"https://api.github.com/users/duane9/repos\",\"events_url\":\"https://api.github.com/users/duane9/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/duane9/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"closed\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":1,\"created_at\":\"2025-12-21T22:59:59Z\",\"updated_at\":\"2025-12-26T15:29:06Z\",\"closed_at\":\"2025-12-26T15:29:06Z\",\"author_association\":\"CONTRIBUTOR\",\"type\":null,\"active_lock_reason\":null,\"draft\":false,\"pull_request\":{\"url\":\"https://api.github.com/repos/django/django/pulls/20441\",\"html_url\":\"https://github.com/django/django/pull/20441\",\"diff_url\":\"https://github.com/django/django/pull/20441.diff\",\"patch_url\":\"https://github.com/django/django/pull/20441.patch\",\"merged_at\":\"2025-12-26T15:29:06Z\"},\"body\":\"####
        Trac ticket number\\r\\n<!-- Replace XXXXX with the corresponding Trac ticket
        number, or delete the line and write \\\"N/A\\\" if this is a trivial PR.
        -->\\r\\n\\r\\nticket-30515\\r\\n\\r\\n#### Branch description\\r\\nAdded
        comprehensive documentation for the resolve_url() function in the shortcuts
        reference guide. The documentation covers all argument types (models, view
        names, and URLs) with examples demonstrating each use case.\\r\\n\\r\\n####
        Checklist\\r\\n- [x] This PR targets the `main` branch. <!-- Backports will
        be evaluated and done by mergers, when necessary. -->\\r\\n- [x] The commit
        message is written in past tense, mentions the ticket number, and ends with
        a period.\\r\\n- [x] I have checked the \\\"Has patch\\\" ticket flag in the
        Trac system.\\r\\n- [x] I have added or updated relevant tests.\\r\\n- [x]
        I have added or updated relevant docs, including release notes if applicable.\\r\\n-
        [ ] I have attached screenshots in both light and dark modes for any UI changes.\\r\\n\",\"reactions\":{\"url\":\"https://api.github.com/repos/django/django/issues/20441/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/django/django/issues/20441/timeline\",\"performed_via_github_app\":null,\"state_reason\":null,\"score\":1.0},{\"url\":\"https://api.github.com/repos/django/django/issues/20459\",\"repository_url\":\"https://api.github.com/repos/django/django\",\"labels_url\":\"https://api.github.com/repos/django/django/issues/20459/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/django/django/issues/20459/comments\",\"events_url\":\"https://api.github.com/repos/django/django/issues/20459/events\",\"html_url\":\"https://github.com/django/django/pull/20459\",\"id\":3760903903,\"node_id\":\"PR_kwDOAD-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/django/django/pulls/20441
  response:
    body:
      string: '{"message":"API rate limit exceeded for 37.228.242.36. (But here''s
        the good news: Authenticated requests get a higher rate limit. Check out the
        documentation for more details.)","documentation_url":"https://docs.github.com/rest/overview/resources-in-the-rest-api#rate-limiting"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '0'
      X-RateLimit-Reset:
      - '1766779635'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '60'
    status:
      code: 403
      message: rate limit exceeded
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/django/django/pulls/20280
  response:
    body:
      string: "{\n  \"documentation_url\": \"https://developer.github.com/v3/#abuse-rate-limits\",\n
        \ \"message\": \"You have triggered an abuse detection mechanism. Please wait
        a few minutes before you try again.\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - '1'
      X-GitHub-Media-Type:
      - github.v3; format=json
    status:
      code: 429
      message: too many requests
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?q=repo%3Adjango%2Fdjango+is%3Apr+is%3Amerged+merged%3A%3E%3D2024-12-26&sort=updated&order=desc&per_page=100&page=2
  response:
    body:
      string: "{\n  \"documentation_url\": \"https://developer.github.com/v3/#abuse-rate-limits\",\n
        \ \"message\": \"You have triggered an abuse detection mechanism. Please wait
        a few minutes before you try again.\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - '1'
      X-GitHub-Media-Type:
      - github.v3; format=json
    status:
      code: 429
      message: too many requests
version: 1
