interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/django/django/pulls?state=closed&sort=updated&direction=desc&per_page=100&page=1
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/django/django/pulls/20319\",\"id\":3043952559,\"node_id\":\"PR_kwDOAD-Lgs61bwev\",\"html_url\":\"https://github.com/django/django/pull/20319\",\"diff_url\":\"https://github.com/django/django/pull/20319.diff\",\"patch_url\":\"https://github.com/django/django/pull/20319.patch\",\"issue_url\":\"https://api.github.com/repos/django/django/issues/20319\",\"number\":20319,\"state\":\"closed\",\"locked\":false,\"title\":\"Updated
        docs with a warning about changing `DEFAULT_AUTO_FIELD`.\",\"user\":{\"login\":\"alexei\",\"id\":96283,\"node_id\":\"MDQ6VXNlcjk2Mjgz\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/96283?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/alexei\",\"html_url\":\"https://github.com/alexei\",\"followers_url\":\"https://api.github.com/users/alexei/followers\",\"following_url\":\"https://api.github.com/users/alexei/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/alexei/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/alexei/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/alexei/subscriptions\",\"organizations_url\":\"https://api.github.com/users/alexei/orgs\",\"repos_url\":\"https://api.github.com/users/alexei/repos\",\"events_url\":\"https://api.github.com/users/alexei/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/alexei/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"body\":\"####
        Trac ticket number\\r\\n\\r\\nN/A\\r\\n\\r\\n#### Branch description\\r\\n\\r\\nI
        learned the hard way that changing `DEFAULT_AUTO_FIELD` incurs migrations
        in third-party apps which can lead to conflicting migrations in the future.
        I believe the documentation should warn users about this, and suggest solutions.\\r\\n\\r\\n####
        Checklist\\r\\n- [x] This PR targets the `main` branch. <!-- Backports will
        be evaluated and done by mergers, when necessary. -->\\r\\n- [x] The commit
        message is written in past tense, <del>mentions the ticket number</del>, and
        ends with a period.\\r\\n- [ ] I have checked the \\\"Has patch\\\" ticket
        flag in the Trac system.\\r\\n- [ ] I have added or updated relevant tests.\\r\\n-
        [x] I have added or updated relevant docs, including release notes if applicable.\\r\\n-
        [ ] I have attached screenshots in both light and dark modes for any UI changes.\\r\\n\",\"created_at\":\"2025-11-25T14:43:20Z\",\"updated_at\":\"2025-12-25T12:08:58Z\",\"closed_at\":\"2025-12-25T12:08:45Z\",\"merged_at\":null,\"merge_commit_sha\":\"f9948e2f50f1b586c778fa4af16454951b0622b5\",\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[{\"id\":7958320507,\"node_id\":\"LA_kwDOAD-Lgs8AAAAB2lpVew\",\"url\":\"https://api.github.com/repos/django/django/labels/no%20ticket\",\"name\":\"no
        ticket\",\"color\":\"CC88D9\",\"default\":false,\"description\":\"Based on
        PR title, no linked Trac ticket\"}],\"milestone\":null,\"draft\":false,\"commits_url\":\"https://api.github.com/repos/django/django/pulls/20319/commits\",\"review_comments_url\":\"https://api.github.com/repos/django/django/pulls/20319/comments\",\"review_comment_url\":\"https://api.github.com/repos/django/django/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/django/django/issues/20319/comments\",\"statuses_url\":\"https://api.github.com/repos/django/django/statuses/267771043b6d89b0dc0dbc3e174672dd715aee6d\",\"head\":{\"label\":\"alexei:docs-default_auto_field_warning\",\"ref\":\"docs-default_auto_field_warning\",\"sha\":\"267771043b6d89b0dc0dbc3e174672dd715aee6d\",\"user\":{\"login\":\"alexei\",\"id\":96283,\"node_id\":\"MDQ6VXNlcjk2Mjgz\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/96283?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/alexei\",\"html_url\":\"https://github.com/alexei\",\"followers_url\":\"https://api.github.com/users/alexei/followers\",\"following_url\":\"https://api.github.com/users/alexei/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/alexei/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/alexei/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/alexei/subscriptions\",\"organizations_url\":\"https://api.github.com/users/alexei/orgs\",\"repos_url\":\"https://api.github.com/users/alexei/repos\",\"events_url\":\"https://api.github.com/users/alexei/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/alexei/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"repo\":{\"id\":1103916371,\"node_id\":\"R_kgDOQcxtUw\",\"name\":\"django\",\"full_name\":\"alexei/django\",\"private\":false,\"owner\":{\"login\":\"alexei\",\"id\":96283,\"node_id\":\"MDQ6VXNlcjk2Mjgz\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/96283?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/alexei\",\"html_url\":\"https://github.com/alexei\",\"followers_url\":\"https://api.github.com/users/alexei/followers\",\"following_url\":\"https://api.github.com/users/alexei/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/alexei/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/alexei/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/alexei/subscriptions\",\"organizations_url\":\"https://api.github.com/users/alexei/orgs\",\"repos_url\":\"https://api.github.com/users/alexei/repos\",\"events_url\":\"https://api.github.com/users/alexei/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/alexei/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"html_url\":\"https://github.com/alexei/django\",\"description\":\"The
        Web framework for perfectionists with deadlines.\",\"fork\":true,\"url\":\"https://api.github.com/repos/alexei/django\",\"forks_url\":\"https://api.github.com/repos/alexei/django/forks\",\"keys_url\":\"https://api.github.com/repos/alexei/django/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/alexei/django/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/alexei/django/teams\",\"hooks_url\":\"https://api.github.com/repos/alexei/django/hooks\",\"issue_events_url\":\"https://api.github.com/repos/alexei/django/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/alexei/django/events\",\"assignees_url\":\"https://api.github.com/repos/alexei/django/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/alexei/django/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/alexei/django/tags\",\"blobs_url\":\"https://api.github.com/repos/alexei/django/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/alexei/django/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/alexei/django/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/alexei/django/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/alexei/django/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/alexei/django/languages\",\"stargazers_url\":\"https://api.github.com/repos/alexei/django/stargazers\",\"contributors_url\":\"https://api.github.com/repos/alexei/django/contributors\",\"subscribers_url\":\"https://api.github.com/repos/alexei/django/subscribers\",\"subscription_url\":\"https://api.github.com/repos/alexei/django/subscription\",\"commits_url\":\"https://api.github.com/repos/alexei/django/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/alexei/django/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/alexei/django/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/alexei/django/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/alexei/django/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/alexei/django/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/alexei/django/merges\",\"archive_url\":\"https://api.github.com/repos/alexei/django/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/alexei/django/downloads\",\"issues_url\":\"https://api.github.com/repos/alexei/django/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/alexei/django/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/alexei/django/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/alexei/django/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/alexei/django/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/alexei/django/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/alexei/django/deployments\",\"created_at\":\"2025-11-25T14:01:48Z\",\"updated_at\":\"2025-12-17T16:45:02Z\",\"pushed_at\":\"2025-12-25T12:08:57Z\",\"git_url\":\"git://github.com/alexei/django.git\",\"ssh_url\":\"git@github.com:alexei/django.git\",\"clone_url\":\"https://github.com/alexei/django.git\",\"svn_url\":\"https://github.com/alexei/django\",\"homepage\":\"https://www.djangoproject.com/\",\"size\":224657,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Python\",\"has_issues\":false,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":false,\"has_pages\":false,\"has_discussions\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":0,\"license\":{\"key\":\"bsd-3-clause\",\"name\":\"BSD
        3-Clause \\\"New\\\" or \\\"Revised\\\" License\",\"spdx_id\":\"BSD-3-Clause\",\"url\":\"https://api.github.com/licenses/bsd-3-clause\",\"node_id\":\"MDc6TGljZW5zZTU=\"},\"allow_forking\":true,\"is_template\":false,\"web_commit_signoff_required\":false,\"topics\":[],\"visibility\":\"public\",\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"main\"}},\"base\":{\"label\":\"django:main\",\"ref\":\"main\",\"sha\":\"70e93bc17bc00c4d1ade9ba600ffe180a6973d66\",\"user\":{\"login\":\"django\",\"id\":27804,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjI3ODA0\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/27804?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/django\",\"html_url\":\"https://github.com/django\",\"followers_url\":\"https://api.github.com/users/django/followers\",\"following_url\":\"https://api.github.com/users/django/following[...]
